.vscode/**
.github/**
.gitignore
.gitattributes
node_modules/**
examples/**
**/*.md
!README.md
!CHANGELOG.md
.husky/**
.commitlintrc.json
renovate.json
scripts/**
iterm/**
.claude/**
images/*.png
images/*-backup.*
